@page
@model BookedWebApp.Pages.Users.DetailsModel
@{
}

<div class="container text-center">
    <h1 class="display-4">User infromation</h1>
    <p>
        Your email is: @Model.user.Email <br />
        Name: @Model.user.FirstName @Model.user.LastName
    </p>
</div>


<div class="container text-center">
    <a class="btn btn-dark btn-outline-light" asp-page="/Users/Edit" role="button">Edit information</a>
</div>



<div class="container text-center mt-5">
    <h1 class="display-4">Bookings</h1>
    @if(Model.user.Bookings != null)
    {
        foreach(var booking in Model.user.Bookings)
        {
            <p>@booking.BookingId Price: @booking.GetPrice() Status: @booking.Status</p>
            <a class="btn btn-primary" asp-page="/Users/PaymentDetails" asp-route-id="@booking.BookingId">Payment Details</a>
        }
    }
    else
    {
        <p>No booking</p>
    }

</div>
