@page
@using Booked.Domain.Domain;
@model BookedWebApp.Pages.Users.DetailsModel
@{
}

@if (Model.user == null)
{
    <div class="container">
        <h3 class="text-danger">@TempData["Error"]</h3>
    </div>
}
else
{
    <div class="container text-center">
        <h1>User infromation</h1>
        <p>
            Your email is: @Model.user.Email <br />
            Name: @Model.user.FirstName @Model.user.LastName<br />
            Date of Birth: @Model.user.DateOfBirth.ToString("d/M/yyyy")
        </p>
    </div>


    <div class="container text-center">
        <a class="btn btn-dark btn-outline-light" asp-page="/Users/Edit" role="button">Edit information</a>
    </div>


    <div class="container mt-5 mb-3">
        <h3>Booking history</h3>
        @if (Model.user.Bookings != null)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Booking Type</th>
                        <th>Booking Date</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var booking in Model.user.Bookings)
                    {
                        <tr>
                            <td>@booking.BookingId</td>
                            @if (@booking is HotelBooking)
                            {
                                <td>HotelBooking</td>
                            }
                            else if (@booking is FlightBooking)
                            {
                                <td>FlightBooking</td>
                            }
                            <td>@booking.BookingDate.ToString("d/M/yyyy")</td>
                            <td>@booking.GetPrice()</td>
                            <td>@booking.Status</td>
                            <td><a class="btn btn-primary" asp-page="/Users/PaymentDetails" asp-route-id="@booking.BookingId">Payment Details</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No booking</p>
        }

    </div>
}

