@page
@model BookedWebApp.Pages.FlightModel
@{
	Layout = "_HomeLayout";
}

<div class="bgHotel d-block d-md-flex d-xl-flex flex-column">
	<h1>Pick a date</h1>
	<div class="container-fluid pb-3">
		<div class="row">
			<div class="col-lg-3"></div>

			<div class="col-lg-6 bg-dark p-4 rounded-1">
				<form class="d-flex flex-column" method="get">

					<!--Radio-->
					<div class="d-flex align-items-center text-white fw-bold">
						<div class="form-check">
							<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
							<label class="form-check-label" for="flexRadioDefault1">
								Roundtrip
							</label>
						</div>

						<div class="form-check mx-4">
							<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
							<label class="form-check-label" for="flexRadioDefault2">
								One way
							</label>
						</div>
					</div>

					<!--Search thing-->
					<div class="d-flex align-items-center py-2">
						<!--From location-->
						<div>
							<label for="exampleDataList" class="form-label mb-0 fw-bold text-white">From</label>
							<input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Country">
							<datalist id="datalistOptions">
								@foreach (var country in Model.Countries)
								{
									<option value="@country"></option>
								}
							</datalist>
						</div>

						<!--To location-->
						<div>
							<label for="exampleDataList" class="form-label mb-0 fw-bold text-white">From</label>
							<input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Country">
							<datalist id="datalistOptions">
								@foreach (var country in Model.Countries)
								{
									<option value="@country"></option>
								}
							</datalist>
						</div>

						<!--Date section *remove comment later
						<div>
							<label for="" class="form-label mb-0 text-white fw-bold">Depart</label>
							<input type="date" class="form-control">
						</div>

						<div>
							<label for="" class="form-label mb-0 text-white fw-bold">Return</label>
							<input type="date" class="form-control">
						</div>
						-->
					</div>

					<!--Submit/Search button-->
					<div class="d-flex align-items-center justify-content-center pt-2">
						<button type="submit" class="btn-primary">
							Search
						</button>
					</div>
				</form>
			</div>
			<div class="col-lg-3"></div>
		</div>
	</div>
</div>

<div class="container mt-5 justify-content-center align-content-center">
	@if (Model.FlightsList != null)
	{
		<div class="row">
			@foreach (var flight in Model.FlightsList)
			{
				<div class="col-md-6 col-lg-4 mb-4">
					<div class="card h-100">
						<img src="/img/black-plane.png" class="d-block w-25 c-img h-25" alt="Flight Image">
						<div class="card-body">
							<h5 class="card-title">@flight.DepartureCountry</h5>
							<h5 class="card-title">@flight.ArrivalCountry</h5>
							<a class="btn btn-primary" asp-page="/FlightDetails" asp-route-id="@flight.FlightId">More details</a>
						</div>
					</div>
				</div>
			}
		</div>
	}
	else
	{
		<p>No Hotels found</p>
	}
</div>