@page
@model BookedWebApp.Pages.FlightModel
@{
	Layout = "_HomeLayout";
}

<div class="bgHotel d-block d-md-flex d-xl-flex flex-column">
	<!-- remove later
	<h1>Pick a date</h1>
	-->
	<div class="container-fluid pb-3 pt-5">
		<div class="row">
			<div class="col-lg-3"></div>

			<div class="col-lg-6 bg-dark p-4 rounded-1">
				<form class="d-flex flex-column" method="get" asp-page="/Flights">

					<!--Radio-
					<div class="d-flex align-items-center text-white fw-bold">
						<div class="form-check">
							<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
							<label class="form-check-label" for="flexRadioDefault1">
								Roundtrip
							</label>
						</div>

						<div class="form-check mx-4">
							<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
							<label class="form-check-label" for="flexRadioDefault2">
								One way
							</label>
						</div>
					</div> Remove when know we finish with details page-->

					<!--Search thing-->
					<div class="d-flex align-items-center py-2 justify-content-center"> <!--Remove "justify-content later"-->
						<!--From location-->
						<div>
							<label for="exampleDataList" class="form-label mb-0 fw-bold text-white">From:</label>
							<input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Country" asp-for="depart">
							<datalist id="datalistOptions">
								@foreach (var country in Model.Countries)
								{
									<option value="@country"></option>
								}
							</datalist>
						</div>

						<!--Remove later-->
						<div class="mx-1"></div>

						<!--To location-->
						<div>
							<label for="exampleDataList" class="form-label mb-0 fw-bold text-white">To:</label>
							<input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Country" asp-for="arrive">
							<datalist id="datalistOptions">
								@foreach (var country in Model.Countries)
								{
									<option value="@country"></option>
								}
							</datalist>
						</div>

						<!--Date section *remove comment later
						<div>
							<label for="" class="form-label mb-0 text-white fw-bold">Depart</label>
							<input type="date" class="form-control">
						</div>

						<div>
							<label for="" class="form-label mb-0 text-white fw-bold">Return</label>
							<input type="date" class="form-control">
						</div>
						-->
					</div>

					<!--Submit/Search button-->
					<div class="d-flex align-items-center justify-content-center pt-2">
						<button type="submit" name="Search" class="btn-primary">
							Search
						</button>
					</div>
				</form>
			</div>
			<div class="col-lg-3"></div>
		</div>
	</div>
</div>

<div class="container mt-5 justify-content-center align-content-center">
	@if (Model.FlightsList.Count() != 0)
	{
		<div class="row">
			@foreach (var flight in Model.FlightsList)
			{
				<div class="col-md-6 col-lg-4 mb-4">
					<div class="card h-100">
						<img src="/img/black-plane.png" class="d-block w-25 c-img h-25" alt="Flight Image">
						<div class="card-body">
							<h5 class="card-title">@flight.DepartureCountry</h5>
							<h5 class="card-title">@flight.ArrivalCountry</h5>
							<p class="card-body">Price: @flight.Price</p>
							<a class="btn btn-primary" asp-page="/FlightDetails" asp-route-id="@flight.FlightId">More details</a>
						</div>
					</div>
				</div>
			}
		</div>
	}
	else
	{
		<p>No Flights found</p>
	}
</div>

<div class=" container d-flex justify-content-center">
	<nav aria-label="Page navigation">
		<ul class="pagination">
			@for (var i = 1; i <= Model.TotalPages; i++)
			{
				<li class="page-item @(i == Model.CurrentPage ? "active" : "")">
					<a asp-page="/Flight" asp-route-currentpage="@i" asp-route-depart="@Model.depart" asp-route-arrive="@Model.arrive" class="page-link">@i</a>
				</li>
			}
		</ul>
	</nav>
</div>
