@page
@model BookedWebApp.Pages.HotelDetailsModel
@{
}

<div class="container justify-content-center align-content-center">
	<div>
		<h1>@Model.Hotel.Name</h1>
		<img src="@($"data:image/png;base64,{Convert.ToBase64String(Model.Hotel.Image)}")" class="img-fluid h-50 w-50" />
		<p>Rating: @Model.Hotel.StarRating/5</p>
		<p>Price per night: @Model.Hotel.PricePerNight</p>
	</div>

	<form class="d-flex flex-column" method="post">
		<input type="hidden" name="id" value="@Model.Hotel.HotelId" />
		<div class="d-flex align-items-center py-2">
			<!--Date section-->
			<div>
				<label class="form-label mb-0 text-white fw-bold">Start</label>
				<input asp-for=DateStart type="date" class="form-control" value="@Model.DateStart">
			</div>

			<div>
				<label class="form-label mb-0 text-white fw-bold">End</label>
				<input asp-for=DateEnd type="date" class="form-control" value="@Model.DateStart">
			</div>
		</div>

		<!--Submit button-->
		<div class="d-flex align-items-center justify-content-center pt-2">
			<button type="submit" class="btn-primary">
				Book now
			</button>
		</div>
	</form>
</div>


<div class="container mt-5 text-white bg-dark">
    <div class="row">
        <div class="col-md-9">
            <h3 class="text-center mb-5">Reviews</h3>

            <div class="scrollable-container">
                <div class="card-deck">
                    @if (Model.Hotel.Reviews == null)
                    {
                        <p>No Reviews</p>
                    }
                    else
                    {
                        @foreach (var review in Model.Hotel.Reviews)
                        {
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted">@review.User.Email</h6>
                                    <p class="card-text text-black">@review.Description</p>
                                    @if (User.Identity.Name == review.User.Email)
                                    {
                                        <button class="btn btn-secondary" onclick="editReview('@review.Id')">Edit Review</button>
                                    }
                                </div>
                                <div class="card-footer" id="editReview-@review.Id" style="display: none;">
                                    <form method="post">
                                        <input type="hidden" name="ReviewId" value="@review.Id" />
                                        <div class="form-group text-black">
                                            <label for="description">Description:</label>
                                            <textarea id="description" name="EditDescription" class="form-control">@review.Description</textarea>
                                            <span asp-validation-for="EditDescription" class="text-danger"></span>
                                        </div>

                                        <div class="flex-column">
                                            <button type="submit" asp-page-handler="EditReview" class="btn btn-primary">Save Changes</button>
                                            <button type="submit" asp-page-handler="DeleteReview" class="btn btn-primary">Delete</button>
                                            <button type="button" class="btn btn-secondary" onclick="cancelEditReview('@review.Id')">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

        @if (User.Identity.IsAuthenticated)
        {
            bool userReviewed = Model.Hotel.Reviews.Any(r => r.User.Email == User.Identity.Name);
            if (!userReviewed)
            {
                <div class="col-md-3">
                    <h2 class="text-center my-5">Add Review</h2>

                    <div>
                        <form method="post">
                            <input type="hidden" name="hotelid" value="@Model.Hotel.HotelId" />
                            <div class="form-group">
                                <label for="body">Description:</label>
                                <textarea class="form-control" id="body" name="description" rows="5" required></textarea>
                            </div>
                            <div class="form-group">
                                <label for="rating">Rating:</label>
                                <input type="number" class="form-control" id="rating" name="rating" min="1" max="5" required />
                            </div>
                            <div class="text-center">
                                <button type="submit" asp-page-handler="AddReview" class="btn btn-primary">Submit Review</button>
                            </div>
                        </form>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-3">
                    <h2 class="text-center my-5">Add Review</h2>

                    <div>
                        <p>Already have a review</p>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-md-3">
                <h2 class="text-center my-5">Add Review</h2>

                <div>
                    <p>Log in to add reviews</p>
                    <form method="get" asp-page="/LogIn">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        }

    </div>
</div>

<script>
    function editReview(reviewId) {
        // hide the card body
        $('#editReview-' + reviewId).prev('.card-body').hide();
        // show the edit form
        $('#editReview-' + reviewId).show();
    }

    function cancelEditReview(reviewId) {
        // hide the edit form
        $('#editReview-' + reviewId).hide();
        // show the card body
        $('#editReview-' + reviewId).prev('.card-body').show();
    }
</script>






