@page
@model BookedWebApp.Pages.PaymentModel
@{
}

<div class="container">
	<h1>Payment Details:</h1>
	<p>Price: @Model.hotelBooking.GetPrice()</p>
</div>

<form method="post">
	<input type="hidden" asp-for="start" value="@Model.hotelBooking.StartDate" />
	<input type="hidden" asp-for="end" value="@Model.hotelBooking.EndDate" />
	<input type="hidden" asp-for="hotelId" value="@Model.hotelBooking.Hotel.HotelId" />

	<div class="d-flex align-items-center justify-content-center pt-2">
		<button type="submit" class="btn-primary btn mx-1">
			Pay Now
		</button>

		<a href="@Request.Headers["Referer"].ToString()" class="btn btn-primary">Cancel</a>
	</div>
</form>

<div>
	<p class="text-danger">@TempData["Message"]</p>
</div>